body {
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    background-color: silver;
    text-align: center;
}

nav a {
    flex: 1;
    text-decoration: none;
    background: linear-gradient(to top, slategray, gray, black);
    border: 2px solid white;
    color: white;
    font-weight: bold;
    padding: auto 20px;
    margin: 0;
    font-size: 20px;
    align-content: center;
}

nav a:hover {
    flex: 1;
    text-decoration: none;
    background: linear-gradient(to top, slategray, gray, black);
    border: 2px solid white;
    color: white;
    font-weight: bold;
    padding: auto 20px;
    margin: 0;
    font-size: 20px;
    align-content: center;
    -webkit-text-stroke: 2px white;
}

nav form button {
    flex: 1;
    font-family: inherit;
    text-decoration: none;
    background: linear-gradient(to top, slategray, gray, black);
    border: 2px solid white;
    color: white;
    font-weight: bold;
    padding: auto 20px;
    margin: 0;
    font-size: 20px;
}

nav form button:hover {
    flex: 1;
    font-family: inherit;
    text-decoration: none;
    background: linear-gradient(to top, slategray, gray, black);
    border: 2px solid white;
    color: white;
    font-weight: bold;
    padding: auto 20px;
    margin: 0;
    font-size: 20px;
    -webkit-text-stroke: 2px white;
}

header {
    background-color: silver;
}

header h1 {
    background-image: url('../images/icon.png');
    background-size: 55px;
    background-repeat: no-repeat;
    background-position: 10px 5px;
    padding-left: 65px;
    padding-top: 25px;
    margin: auto 0;
}

header hr {
    height: 2px;
    background-color: black;
    border: none;
}

header h2 {
    margin: auto 30px;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 8px;
}
header #title {
    display: flex;
    justify-content: space-between;
    height: 70px;
}

#user_link {
    text-decoration: none;
    color: black;
    align-content: center;

}