{% extends 'base.html' %}
{% block head %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}" />
{% endblock %}
{% block content %}
<div class='post_display'> 
    <p class="user_detail_date" >{{ post.created_at|date:"m-d-y h:i A" }}</p>
    <a class="detail_back" href="{% url 'user-event-index' %}">𝐗</a>
    {% autoescape off %}
        <div class="event_title">{{ event.title }}</div>
    {% endautoescape %}
    <p class="event_date">Date of Event: {{ event.event_date|date:"D, F jS, Y"  }}</p>
    {% if event.image_URL %}
        <img class="detail_img" src="{{ event.image_URL }}" alt="{{ event.user.username}} post" />
    {% endif %}
    {% if event.upload_image %}
        <img class="detail_img" src="{{ event.upload_image.url }}" alt="{{ event.user.username}} post" />
    {% endif %}
    {% if event.description %}
        {% autoescape off %}
            <div class="detail_txt">{{ event.description }}</div>
        {% endautoescape %}
    {% endif %}
    {% if event.instructions_and_rules %}
        {% autoescape off %}
            <div class="detail_txt">{{ event.instructions_and_rules }}</div>
        {% endautoescape %}
    {% endif %}
    {% if event.address_and_contact %}
        {% autoescape off %}
            <div class="detail_txt">{{ event.address_and_contact }}</div>
        {% endautoescape %}
    {% endif %}
    {% if event.particpating_and_attending %}
        {% autoescape off %}
            <div class="detail_txt">{{ event.particpating_and_attending }}</div>
        {% endautoescape %}
    {% endif %}
    <div class="user_options">
        <a class="user_btns" href="{% url 'event-update' event.id %}">Edit</a>
        <a class="user_btns" href="{% url 'event-delete' event.id %}">Delete</a>
    </div>
</div>
{% endblock %}