#home_display {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

article {
    display: inline-block;
    height: 12%;
    background-color: white;
}

.event_article {
    display: block;
    border: 2px solid black;
    width: 40%;
    max-height: 15%;
    border-radius: 8px;
    box-shadow: 
    -1px -1px 10px black,
    -1px 1px 10px black,
    1px -1px 10px black,
    1px 1px 10px black;
}

.event_article h2 {
    text-align: center;
    margin: 0;
    margin-bottom: -10px;
}

.event_user {
    text-align: center;
    margin-bottom: -10px;
}

.event_title {
    text-align: center;
}

.event_date {
    display: block;
    width: fit-content;
    margin: -5px auto 10px auto;
}

.event_article img {
    display: block;
    width: 80%;
    height: 55%;
    margin: 5px auto 0 auto;
    border: 1px solid black;
    border-radius: 8px;
}

.event_descr {
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 0 32px;
}

#no_desc {
    margin-top: 15px;
}

.detail_link {
    text-decoration: none;
    color: black;
}